name: Python Tests

on:
  pull_request:
  push:
    branches:
      - main
      - dev

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.9"  # default RHEL 9 interpreter
          - "3.12"  # default RHEL 10 interpreter
        path:
          - python/tests/unit/
          - python/tests/integration/
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python${{ matrix.python-version }} -m pip install .[dev]
      - name: Run tests in ${{ matrix.path }}
        run: pytest ${{ matrix.path }}
